/* styles.css */

body {
    color: white; /* background-color, color, border-color */
}

.navbar {
    padding: 1rem;
    background-color:  #3EB7C2;
}

.navbar {
    padding: 1rem;
    background-color:  #3EB7C2;
}

.btn-primary:hover {
    background-color:  #3EB7C2;
    color: black;
}
  
.footer {
    background-color: #3EB7C2;
}

.hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0.3); /* If our image is bright, we can tone it down with this darker overlay */
    padding-top:300px; /* padding for the content inside the image */
    padding-bottom:300px;
}
  
.hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url("./photos/iPray.jpeg"); /*or pass in a url*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /*puts the image on the back*/
    opacity: 0.5; /* Tone the image down further by giving it transparency */
}

.footer {
    background-color: #3EB7C2;
}